/*
-----------------------------------------------------------------------------------
Slider common styles
-----------------------------------------------------------------------------------*/
.slider { position: relative; }
.slider .pad { position: relative; }
.slider .slide-scroll { overflow: hidden; }
.slider:not(.col-1):not(.vScroll) .overflow { overflow: hidden; margin: 0 -7.4px }
.slider .list { float: left; width: 10%; display: table; border-spacing: 0; table-layout: fixed; }
.slider .list .item{ width:100%; text-align: center; }
.slider i { font-style: normal; display: inline-block; }
.slide-scroll .inner { width:1000%; }
.slider:not(.col-1):not(.vScroll) .item { display: table-cell; vertical-align: middle; padding: 0 7.5px; }
.slider .item img { width: 100%; }

.slider .controls label{ cursor: pointer; line-height: normal; position:absolute; left: 0; top:0; bottom: 0; z-index: 100; opacity:0.6; height:100%; }
.slider .controls label::before { cursor: pointer; display: inline-block; font-size: 30px; }

.slider.no-control .controls{ display: none!important; }
.slider.no-pager .active{ display: none!important; }

/*.slider .controls label:hover { opacity: 0.8; }*/
.slider .active {  text-align: center; font-size: 0; margin-top:15px; margin-bottom:10px; }
.slider .active label { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: inline-block; width: 10px; height: 10px; background-color: #aaa; cursor: pointer; margin: 0 3px; }
.slider .active label:hover { -webkit-transform: scale(1.5); transform: scale(1.5); }

/*---------------------------------------------------------------------------------*/

/*
-----------------------------------------------------------------------------------
Horizontal Scroll
-----------------------------------------------------------------------------------*/
/*.scroll:not(.col-1):not(.boxed) .pad { margin-bottom: 35px; }*/
.scroll.boxed .pad { background-color: #fff; border: 1px solid #e6e6e6; border-top-width: 0; padding: 15px 25px; color:#37474f; }
.scroll.no-control.boxed .pad{ padding-left:0; padding-right: 0; }
.scroll.boxed .pad:only-child { border-top-width: 1px; }
.scroll.boxed .slide-scroll { margin-left: 15px; margin-right: 15px; }
.scroll.bordered-item .item a { border: 1px solid #e6e6e6; padding: 15px; }
.scroll.boxed .active { }
.scroll .item a { background-color: #fff; display: block; font-size: 14px; text-align: center; }
.scroll .item h5 { margin: 10px 0; font-size: 12px; font-weight: normal; text-align: left; height: 45px; overflow: hidden; text-align: center; }
.scroll .item p { font-size: 14px; font-weight: bold; color: #37474f; text-align: center; margin-bottom: 0; }
.scroll .item .imgBox { font-size: 0; position: relative; display: block; height:160px; }
.scroll .item .imgBox img { width: auto; max-width:100%; max-height:100%; }
.slider .item span { font-size: 11px; padding: 6px 10px; background-color: #37474f; color: #fff; font-weight: bold; text-transform: uppercase; display: inline-block; margin-top:15px; }
.scroll input:nth-child(1):checked ~ .slide-scroll .inner { margin-left: 0; }
.scroll input:nth-child(2):checked ~ .slide-scroll .inner { margin-left: -100%; }
.scroll input:nth-child(3):checked ~ .slide-scroll .inner { margin-left: -200%; }
.scroll input:nth-child(4):checked ~ .slide-scroll .inner { margin-left: -300%; }
.scroll input:nth-child(5):checked ~ .slide-scroll .inner { margin-left: -400%; }
.scroll input:nth-child(6):checked ~ .slide-scroll .inner { margin-left: -500%; }
.scroll input:nth-child(7):checked ~ .slide-scroll .inner { margin-left: -600%; }
.scroll input:nth-child(8):checked ~ .slide-scroll .inner { margin-left: -700%; }
.scroll input:nth-child(9):checked ~ .slide-scroll .inner { margin-left: -800%; }
.scroll input:nth-child(10):checked ~ .slide-scroll .inner { margin-left: -900%; }

.scroll .controls label::before { display: inline-block; font-size: 30px; position:absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

/*Right Arrow holder*/
.scroll input:nth-child(1):checked ~ .controls label:nth-child(2), /*list 3 (default)*/
.scroll input:nth-child(2):checked ~ .controls label:nth-child(3),
.scroll input:nth-child(3):checked ~ .controls label:nth-child(1),
.scroll.list-4 input:nth-child(1):checked ~ .controls label:nth-child(2), /*list 4*/
.scroll.list-4 input:nth-child(2):checked ~ .controls label:nth-child(3),
.scroll.list-4 input:nth-child(3):checked ~ .controls label:nth-child(4),
.scroll.list-4 input:nth-child(4):checked ~ .controls label:nth-child(1),
.scroll.list-6 input:nth-child(1):checked ~ .controls label:nth-child(2), /*list 6*/
.scroll.list-6 input:nth-child(2):checked ~ .controls label:nth-child(3),
.scroll.list-6 input:nth-child(3):checked ~ .controls label:nth-child(4),
.scroll.list-6 input:nth-child(4):checked ~ .controls label:nth-child(5),
.scroll.list-6 input:nth-child(5):checked ~ .controls label:nth-child(6),
.scroll.list-6 input:nth-child(6):checked ~ .controls label:nth-child(1){ display: block; left: auto; right: 0; }

/*Left Arrow holder*/
.scroll input:nth-child(1):checked ~ .controls label:nth-child(3),
.scroll input:nth-child(2):checked ~ .controls label:nth-child(1),
.scroll input:nth-child(3):checked ~ .controls label:nth-child(2),
.scroll.list-4 input:nth-child(1):checked ~ .controls label:nth-child(4), /*list 4*/
.scroll.list-4 input:nth-child(2):checked ~ .controls label:nth-child(1),
.scroll.list-4 input:nth-child(3):checked ~ .controls label:nth-child(2),
.scroll.list-4 input:nth-child(4):checked ~ .controls label:nth-child(3),
.scroll.list-6 input:nth-child(1):checked ~ .controls label:nth-child(6), /*list 6*/
.scroll.list-6 input:nth-child(2):checked ~ .controls label:nth-child(1),
.scroll.list-6 input:nth-child(3):checked ~ .controls label:nth-child(2),
.scroll.list-6 input:nth-child(4):checked ~ .controls label:nth-child(3),
.scroll.list-6 input:nth-child(5):checked ~ .controls label:nth-child(4),
.scroll.list-6 input:nth-child(6):checked ~ .controls label:nth-child(5){ display: block; }

/*Arrow Right*/
.scroll input:nth-child(1):checked ~ .controls label:nth-child(2)::before, /*list 3 (default)*/
.scroll input:nth-child(2):checked ~ .controls label:nth-child(3)::before,
.scroll input:nth-child(3):checked ~ .controls label:nth-child(1)::before,
.scroll.list-4 input:nth-child(1):checked ~ .controls label:nth-child(2)::before, /*list 4*/
.scroll.list-4 input:nth-child(2):checked ~ .controls label:nth-child(3)::before,
.scroll.list-4 input:nth-child(3):checked ~ .controls label:nth-child(4)::before,
.scroll.list-4 input:nth-child(4):checked ~ .controls label:nth-child(1)::before,
.scroll.list-6 input:nth-child(1):checked ~ .controls label:nth-child(2)::before, /*list 6*/
.scroll.list-6 input:nth-child(2):checked ~ .controls label:nth-child(3)::before,
.scroll.list-6 input:nth-child(3):checked ~ .controls label:nth-child(4)::before,
.scroll.list-6 input:nth-child(4):checked ~ .controls label:nth-child(5)::before,
.scroll.list-6 input:nth-child(5):checked ~ .controls label:nth-child(6)::before,
.scroll.list-6 input:nth-child(6):checked ~ .controls label:nth-child(1)::before{ content:'keyboard_arrow_right'; vertical-align: middle; left: auto; right:0; }

/*Arrow left*/
.scroll input:nth-child(1):checked ~ .controls label:nth-child(3)::before, /*list 3 (default)*/
.scroll input:nth-child(2):checked ~ .controls label:nth-child(1)::before,
.scroll input:nth-child(3):checked ~ .controls label:nth-child(2)::before,
.scroll.list-4 input:nth-child(1):checked ~ .controls label:nth-child(4)::before, /*list 4*/
.scroll.list-4 input:nth-child(2):checked ~ .controls label:nth-child(1)::before,
.scroll.list-4 input:nth-child(3):checked ~ .controls label:nth-child(2)::before,
.scroll.list-4 input:nth-child(4):checked ~ .controls label:nth-child(3)::before,
.scroll.list-6 input:nth-child(1):checked ~ .controls label:nth-child(6)::before, /*list 6*/
.scroll.list-6 input:nth-child(2):checked ~ .controls label:nth-child(1)::before,
.scroll.list-6 input:nth-child(3):checked ~ .controls label:nth-child(2)::before,
.scroll.list-6 input:nth-child(4):checked ~ .controls label:nth-child(3)::before,
.scroll.list-6 input:nth-child(5):checked ~ .controls label:nth-child(4)::before,
.scroll.list-6 input:nth-child(6):checked ~ .controls label:nth-child(5)::before{ content:'keyboard_arrow_left'; vertical-align: middle; }

/*Pager*/
.scroll input:nth-child(1):checked ~ .active label:nth-child(1),
.scroll input:nth-child(2):checked ~ .active label:nth-child(2),
.scroll input:nth-child(3):checked ~ .active label:nth-child(3),
.scroll input:nth-child(4):checked ~ .active label:nth-child(4),
.scroll input:nth-child(5):checked ~ .active label:nth-child(5),
.scroll input:nth-child(6):checked ~ .active label:nth-child(6),
.scroll input:nth-child(7):checked ~ .active label:nth-child(7),
.scroll input:nth-child(8):checked ~ .active label:nth-child(8),
.scroll input:nth-child(9):checked ~ .active label:nth-child(9),
.scroll input:nth-child(10):checked ~ .active label:nth-child(10){ background-color: #37474f; }

.scroll.col-1 .active { bottom: 12px; }

/*
-----------------------------------------------------------------------------------
Vertical Scroll
-----------------------------------------------------------------------------------*/
.vScroll .pad { padding-top: 56px; padding-bottom: 56px; }
.vScroll .pad .inner { width: auto; }
.vScroll .overflow,
.vScroll .list { float: none; width: auto; height: 606px; position: relative; overflow: hidden; }
.vScroll .item { display: block; }
.vScroll .item + .item { margin-top: 15px; }
.vScroll .item a { display: block; text-align: center; }
.vScroll .item h5 { margin: 10px 0 0; font-weight: normal; height: 68px; overflow: hidden; font-size: 11px; }
.vScroll .item p { margin: 2px 0 0; font-size: 14px; font-weight: bold; color: #37474f; }
.vScroll .item span { display: none; }
.vScroll .item div { height: 96px; font-size: 0; position: relative; display: block; border: 1px solid #e6e6e6; padding: 10px; }
.vScroll .item .imgBox img{ width: auto; }

.vScroll input:nth-child(1):checked ~ .slide-scroll .inner { margin-top: 0; }
.vScroll input:nth-child(2):checked ~ .slide-scroll .inner { margin-top: -606px; }
.vScroll input:nth-child(3):checked ~ .slide-scroll .inner { margin-top: -1212px; }

.vScroll .controls label{ top: 15px; bottom: auto; text-align: center; width: 100%; height: auto; }

.vScroll input:nth-child(1):checked ~ .controls label:nth-child(2),
.vScroll input:nth-child(2):checked ~ .controls label:nth-child(3),
.vScroll input:nth-child(3):checked ~ .controls label:nth-child(1){ display: inline-block; top: auto; bottom: 14px; }

.vScroll input:nth-child(1):checked ~ .controls label:nth-child(3),
.vScroll input:nth-child(2):checked ~ .controls label:nth-child(1),
.vScroll input:nth-child(3):checked ~ .controls label:nth-child(2) { display: inline-block; }


.vScroll input:nth-child(1):checked ~ .controls label:nth-child(2):before,
.vScroll input:nth-child(2):checked ~ .controls label:nth-child(3):before,
.vScroll input:nth-child(3):checked ~ .controls label:nth-child(1):before{ content:'keyboard_arrow_down'; vertical-align: middle; }

.vScroll input:nth-child(1):checked ~ .controls label:nth-child(3):before,
.vScroll input:nth-child(2):checked ~ .controls label:nth-child(1):before,
.vScroll input:nth-child(3):checked ~ .controls label:nth-child(2):before { content:'keyboard_arrow_up'; vertical-align: middle; }


/*
-----------------------------------------------------------------------------------
Vertical Left Scroll
-----------------------------------------------------------------------------------*/
.vScroll.lBox .item div { height: 160px; }
.vScroll.lBox .item h5 { font-size: 12px; }
.vScroll.lBox  .item span { display: inline-block; }
.vScroll.lBox .overflow,
.vScroll.lBox .list { height: 930px; }
.vScroll.lBox input:nth-child(2):checked ~ .slide-scroll .inner { margin-top: -930px; }
.vScroll.lBox input:nth-child(3):checked ~ .slide-scroll .inner { margin-top: -1860px; }

.brand-scroll .list .item a{ height:52px; display: inline-block; vertical-align: middle; }
.brand-scroll .list .item a img{ width: auto; max-height:100%; }

@media only screen and (max-width:800px) {
  .scroll .controls,
  .scroll:not(.col-1) .active { display: none; }

  .scroll.col-1 .active { position: static; margin-top: 10px; }

  .scroll.boxed .pad,
  .scroll.no-control.boxed .pad{ padding: 15px; padding-bottom: 0; /*margin-bottom: 15px*/; }
  .scroll.boxed .slide-scroll { margin: 0; }
 /* .scroll:not(.col-1) { margin-bottom: 0; }*/
  .scroll:not(.col-1) .slide-scroll .inner { width: auto; margin: 0 !important; }
  .scroll:not(.col-1) .list { width: auto; float: none; display: block; }
  .scroll:not(.col-1) .item { width: 33.3333%; float: left; display: block; margin-bottom: 15px; }
  .scroll .pad { margin-bottom: 0; }
  .scroll .clone .item { display: none; }
  .scroll.col-1 .item { width: 100%; }
  .scroll.col-4 .item { width: 25%; }

  .scroll.col-2 .item { width:50%; }

  .brand-scroll .list .item{ width:16.6666%; }
  .brand-scroll .list .item a{ height: auto; }

  .slider .active{ margin:0; }
}
@media only screen and (max-width:639px) and (min-width:381px) {
  .scroll.col-4 .item { width: 50%; }
  .scroll.bordered-item .item a { padding: 10px; }
  .brand-scroll .list .item{ width:33.3333%; }
}
@media only screen and (max-width:380px) {
  .slider .item { width: 100% !important; }
  .brand-scroll .item { width: 50% !important; }
  .scroll .item .imgBox{ padding:0; height:140px; }
}